API_APP_TITLE="ClubCRM API"
API_HOST=0.0.0.0
API_PORT=8000
API_BASE_URL=http://api:8000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=clubcrm
POSTGRES_USER=clubcrm
POSTGRES_PASSWORD=clubcrm
DATABASE_URL=postgresql://clubcrm:clubcrm@postgres:5432/clubcrm

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_DB=clubcrm
MONGODB_URL=mongodb://mongodb:27017/clubcrm

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://redis:6379/0

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
